@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,400;0,800;1,100;1,200;1,400&display=swap');

$main-font: 'Archivo', sans-serif;

html {
  font-family: $main-font;
}

.App {
  text-align: center;
  font-family: $main-font;
}


.main {
  h1 {
    font-family: $main-font;
    font-weight: 800;
  }
}

.main {
  margin:auto;
  width: 1200px;
  max-width: 100%;
}

.main.form {
  width: 800px;
}

.navbar {
  font-family: $main-font;
  font-weight: 200;
  position: relative;

  .inner-navbar {
    margin: auto;
    width:1200px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: #222222;
    ;
  }

  img {
    height:100px;
  }

  .links {

    padding: 10px;

    ul {
      list-style: none;
      padding: 0px;
      margin:0;
    }

    li {
      display: inline-block;
      padding: 10px;
    }
  }
}

.header {
  text-align: center;
  width: 100%;
  height:100%;
  padding-bottom:50px;
  margin-bottom: 40px;
  overflow: hidden;
  color: white;
  font-family: $main-font;

  p {
    font-weight: 300;
  }  

  h1 {
    font-size: 56px;
    color:white;
  }

  .inside-header { 
    border-bottom-left-radius: 50% 150px !important;
    border-bottom-right-radius: 50% 150px !important;
    position: relative;
    overflow: hidden;
    width: 160%; 
    margin-bottom:-50px;
    left:-30%; 
    background-color:rgba(12, 12, 12, 0.397);
    background-image: url('/images/man-running.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    box-shadow:inset 0 0 0 2000px rgba(94, 94, 94, 0.233);
  }
}

.steps {
  font-family: $main-font;
  text-align: center;
  margin:80px 0px;

  .step {
    padding: 20px;
  }

  h4 {
    font-weight: 600;
    font-size: 21px;
  }

  p {
    font-family: $main-font;
    font-weight: 200;
  }

  img {
    height: 150px;
  }
}

.reviews {
  a {
    text-decoration: none;
    font-weight: 400;
    color: black;
  }
  margin-bottom: 100px;;

  .content {
    padding: 40px;
    position: relative;

    &.backer {
      &.right, &.left {

        &:after {
          content:'';
          width:80%;
          height: 30px;
          position: absolute;
          bottom: -10px;
          background-color: #75aa8334;
          border-radius: 5px;;
        }
      }

      &.right {
        &:after {
          right: -15px;
        }
      }
      &.left {
        &:after {
          left: -15px;
        }
      }
    }

    .upshift {
      margin-top:-40px;
    }

    img {
      border-radius: 20px;
      // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px rgba(100, 100, 111, 0.2));
      width:100%
    }

    h1 {
      font-weight: 700;
    }
  
    p {
      font-family: $main-font;
      font-weight: 200;;
    }

    &.greyed {
      background-color: rgb(128, 128, 128);
      color:white;
    }
  }

}

.footer {
  font-family: $main-font;
  margin-top: 40px;
  background: rgb(139,208,157);
  background: linear-gradient(228deg, rgba(139,208,157,1) 0%, rgba(117,170,131,1) 100%);
  
  .footer-widget {
    padding: 40px;

    ul {
      list-style: none;
      padding: 0px;
    }

    ul li {
      font-weight: 200;
    }

    a {
      color: #222;
    }

    span.contact-deets {
      display: block;
      a {
        display: inline;
      }
    }

    table {
      td {
        padding-right: 4px;
        font-weight: 200;
      }
    }
  }

  a {
    display: block;
  }
}

.bottom-bar {
  font-family: $main-font;
  background-color: #222;
  color:white;
  padding: 10px;

  span {
    margin: 0px 50px;
    font-weight: 200;;
  }

}

.common-header {
  background-color: #1C703D ;
  padding: 20px;
  margin-bottom: 40px;

  .inner-header {
    width: 1200px;
    max-width: 100%;
    margin: auto;
  }

  h1 {
    color: #222222;
    color:white;
    font-family: $main-font;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;;
  }
}

.pricing-alter {
  .services {
    ul {
      border-top: 1px solid #222222;
      margin: 0;
      padding:0;
      list-style: none;
      margin-top: 20px;
    }
    li {
      border-bottom: 1px solid #222222;
      padding: 15px;
      margin: 0;
      font-family: $main-font;
      font-weight: 400;
      cursor: pointer;
      font-size: x-large;
      transition: .3s ease-in-out;
    }
  }

  .prices {
    font-family: $main-font;

    h2 {
      padding: 10px;
    }

    table {
      width: 400px;
      max-width: 100%;
    }

    tr {
      td {
        padding: 10px;
        font-size: large;
        vertical-align: top;
      }
    }
  }
}


.contact-form {
  font-family: $main-font;
  form {
    display: block;
    width: 450px;
    max-width: 100%;
    margin: auto;
    padding: 30px;
    background-color: #D9E7DC;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    label, input, textarea, select {
      display: block;
      width:100%;
    }

    input, textarea, select {
      border-radius: 5px;
      outline: none;
      border: 1px solid rgb(160, 160, 160);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 5px 10px;
      margin-bottom: 10px;
    }

    textarea {
      height: 100px;
    }
  }

  .message {
    background-color: #8bd09d;
    color: white;
    padding:10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;
  }

  .address {
    margin-top: 0px;
    margin-bottom: 40px;;
    padding: 8px;
    p {
      margin:0;
    }

    border-left: 5px solid #1C703D;
    padding-left: 20px;
  }

  .marker {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    &:hover {
      z-index: 1;
    }
    
    border-radius: 50% 50% 50% 0;
    border: 4px solid #1C703D;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
  }
  
  .marker::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #1C703D ;
  }
  
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexbox > div {
  width: 90px;
  height: 90px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

/* NO BORDER SPINNER */
.nb-spinner {
  width: 40px;
  height: 40px;
  margin: 0;
  background: transparent;
  border-top: 4px solid #8bd09d;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@-webkit-keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
        
@keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}


.privacy-policy {
  h3 {
    font-family: $main-font;
    margin-top: 50px;
  }

  p {
    font-family: $main-font;
  }

  a {
    color: #222;  
  }
}


.register-form {
  form {
    font-family: $main-font;
    input, label, select, textarea {
      display: block;
      width: 100%;
    }

    label {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    input, select, textarea {
      padding: 3px 10px;
      border-radius: 4px;
      border: 1px solid rgb(160, 160, 160);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      
    }

    select {
      border:1px solid #ccc;
      vertical-align:top;
      height: 30px;
      }
    input, select{
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .error {
      display: block;
      color: red;
    }

    .checker {
      input[type="checkbox"] {
        display: inline;
        margin-right: 10px;
        font-size: 16px;
        width: 20px;
    }
    }

    .radios {

      label {
        display: block;
        margin: 3px;
      }

      input[type="radio"] {
          display: inline;
          margin-right: 10px;
          font-size: 16px;
          width: 20px;
      }
    }

    button {
      background-color: #84C495; /* Green */
      border: none;
      color: white;
      padding: 12px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      border-radius: 10px;
    }
  }
}

.submitter {
  display: flex;
  margin:20px 0px;
}

.spinner-container {
  padding:10px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}